header {
    background:#ffd800;
    color:#fff;
}
.main {
        background:#f2f2f2;
}

.color1 {
    background: #34495e;
    color: #fff;
}
.color2 {
    background:#00f821;
    color: #fff;
}
aside {
    background:#ff6a00;
    color:#fff;
}

footer{
    background:#ff0000;
    color:aliceblue;
}